*{
    padding: 0;
    margin: 0;

}
/* Nav bar */
#mynav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1%;
    background-color: #000000;
}

#mynav #list{
    position: relative;
    color: white;
    text-decoration: none;
    margin-left: 8%;
}
#mynav #cv{
    margin-left: 8%;
}

#mynav #list:after{
    content: '';
    text-decoration: none;
    position: absolute;
    background-color: #0d6efd;
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -10px;
    transition: width 0.3s ease;

}
#mynav #list:hover:after{
    width: 100%;
}
#mynav #list:hover{
    color: #0d6efd;
}
#logo h1{
    color: white;
}

#project-table{
    margin-top: 10%; 
    margin-bottom: 10%;
}
#project-table #project-container{
    background-color: #E39C0E;
    margin-top: auto;
    margin-bottom: auto;
}
#project-table #table-head{
    color: #E39C0E;
    font-size: 20px;
}
#project-table #table-content{
    color: white;
}
#project-table #table-content tr td{
    padding-bottom: 2%;
    padding-top: 2%;
}

#project-table #table-content tr #description{
    width: 70%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}




/* Footer of the page*/
footer i{
    color: #E39C0E;
    font-size: 25px;
    margin: 3%;
    
}
footer{
    width: 30%;
    border-radius: 50px;
    border: 3px solid #0d6efd;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #010a16;
}
footer p{
    color: #E39C0E;
}
