* {
    padding: 0;
    margin: 0;

}

/* Nav bar */
#mynav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1%;
    background-color: #000000;
}

#mynav #list {
    position: relative;
    color: white;
    text-decoration: none;
    margin-left: 8%;
}

#mynav #cv {
    margin-left: 8%;
}

#mynav #list:after {
    content: '';
    text-decoration: none;
    position: absolute;
    background-color: #0d6efd;
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -10px;
    transition: width 0.3s ease;

}

#mynav #list:hover:after {
    width: 100%;
}

#mynav #list:hover {
    color: #0d6efd;
}

#logo h1 {
    color: white;
    margin-right: 20%;
}

/* Home Section*/
#home {
    padding-top: 15%;
    padding-bottom: 7.5%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#home #name {
    margin-top: auto;
    margin-bottom: auto;

}

#home h1 {
    color: white;
    text-align: center;

}

#home span {
    color: #0d6efd;

}

#home h2 {
    color: white;
    text-align: center;
}

/* About Me Section*/
#aboutme {
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#aboutme .about-me h2 {
    text-align: center;
    padding-bottom: 5%;
    letter-spacing: 3px;
    font-size: 40px;
    font: bold;
    color: white;
}

#aboutme #aboutme-div {
    margin-top: auto;
    margin-bottom: auto;
}

#aboutme .text {
    width: 70%;
    margin: auto;
    color: white;
    text-align: justify;
    font-size: 25px;
    line-height: 50px;
}

#aboutme #myimg img {
    border: 7px solid #E39C0E;
    border-radius: 15px;
    width: 90%;
}

#aboutme #myimg {
    margin-top: auto;
    margin-bottom: auto;
}

/* Projects Section*/
#project {
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#project .pro h2 {
    text-align: center;
    padding-bottom: 10%;
    letter-spacing: 3px;
    font-size: 40px;
    font: bold;
    color: white;
}

#project #cards #pp #personal #fcard {
    position: static;
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;
    border: 3px solid #0d6efd;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#project #cards #pp #personal #fcard #h2 {
    color: #ffff;
    font-size: 30px;
}

#project #cards #pp #personal #idea i {
    color: #E39C0E;
    font-size: 100px;

}

#project #cards #pp #personal #fcard #body-card {
    color: white;
    font-size: 20px;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#project #cards #pp #personal #fcard #btn {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
}

/* Certificates section*/
#certificates {
    padding-top: 7.5%;
    padding-bottom: 10%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#certificates .pro h2 {
    text-align: center;
    padding-bottom: 10%;
    letter-spacing: 3px;
    font-size: 40px;
    font: bold;
    color: white;
}

#certificates #cards #ppp #profile #fcardp {
    position: static;
    margin-top: auto;
    margin-bottom: auto;
    width: 90%;
    border: 3px solid #0d6efd;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#certificates #cards #ppp #profile #fcardp #h2 {
    color: #ffff;
    font-size: 30px;
}

#certificates #cards #ppp #profile #idea i {
    color: #E39C0E;
    font-size: 100px;
    margin-bottom: 5%;
    margin-top: 5%;

}

#certificates #cards #ppp #profile #fcardp #body-card {
    color: white;
    font-size: 20px;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#certificates #cards #ppp #profile #fcardp #btn {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
}


/* Footer of the page*/
footer i {
    color: #E39C0E;
    font-size: 25px;
    margin: 3%;

}

footer {
    width: 30%;
    border-radius: 50px;
    border: 3px solid #0d6efd;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #010a16;
}

footer p {
    color: #E39C0E;
}

@media only screen and (max-width: 1368px) {

    /* Nav bar */
    #mynav #list {
        margin-left: 5.5%;
    }

    #mynav #cv {
        margin-left: 5.5%;
    }

    #logo h1 {
        margin-right: 14.2%;
    }

    #home h1 {
        font-size: 30px;
    
    }
    
    /* Home Section */
    #home img{
        width: 71%;
    }
    
    #home h2 {
        font-size: 25px;
    }

    /* About Me Section*/
    #aboutme .about-me h2 {
        padding-bottom: 10%;
        letter-spacing: 2.1px;
        font-size: 28.4px;
    }

    #aboutme .text {
        font-size: 17.75px;
        line-height: 35.5px;
    }

    #aboutme #myimg img {
        border: 5px solid #E39C0E;
        border-radius: 10.5px;
        width: 90%;
    }

    /* Projects Section*/

    #project .pro h2 {
        padding-top: 5%;
        padding-bottom: 10%;
        letter-spacing: 2.1px;
        font-size: 28.4px;
    }

    #project #cards #pp #personal #fcard {
        width: 70%;
        border: 2.1px solid #0d6efd;
        border-radius: 10.5px;
    }

    #project #cards #pp #personal #fcard #h2 {
        font-size: 21.3px;
    }

    #project #cards #pp #personal #idea i {
        font-size: 71px;
    }

    #project #cards #pp #personal #fcard #body-card {
        font-size: 14.2px;
    }

    #project #cards #pp #personal #fcard #btn {
        margin-bottom: 2%;
    }

    /* Certificates section*/
    #certificates .pro h2 {
        padding-top: 5%;
        padding-bottom: 10%;
        letter-spacing: 2.1px;
        font-size: 28.4px;
    }

    #certificates #cards #ppp #profile #fcardp {
        border: 2.1px solid #0d6efd;
        border-radius: 10.5px;
    }

    #certificates #cards #ppp #profile #fcardp #h2 {
        font-size: 21.3px;
    }

    #certificates #cards #ppp #profile #idea i {
        font-size: 71px;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    #certificates #cards #ppp #profile #fcardp #body-card {
        font-size: 14.2px;
    }

    /* Footer of the page*/
    footer i {
        font-size: 17.75px;
        margin: 2.1%;

    }

    footer {
        width: 35%;
        border-radius: 35.5px;
        border: 2.1px solid #0d6efd;

    }
}